@model Entities.BlogPost
@{
    Layout = null;
    <!-- ViewBag.Title = "Detail";-->
}
<!DOCTYPE html>
<html>
<head>
    <title>Details</title>
</head>
<body>
    <div>
        @Html.DisplayNameFor(m => m.Id)
    </div>
    <div>
        @Html.DisplayNameFor(m => m.Autor)
    </div>
</body>
</html>



